<div class="card">
    <h5 class="card-header">Buscaminas</h5>
    <div class="card-body mar">
        <div *ngIf="!mostrar" class="form-row align-items-center ">
            <div class="col-auto my-1 ">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Dificultad</label>
                <select [(ngModel)]= "dificultad"class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option  value="1" selected>Baja</option>
                    <option value="2">Media</option>
                    <option value="3">Alta</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Tamaño</label>
                <select [(ngModel)]= "tamano" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option value="1" selected>Chico</option>
                    <option value="2">Medio</option>
                    <option value="3">Grande</option>
                </select>
            </div>
        </div>
        <div >
                <button *ngIf="!mostrar" (click)=jugar() type="button" class="btn btn-primary but">Jugar</button>
                <button *ngIf="mostrar" (click)=reniciar() type="button" class="btn btn-primary but">Reniciar</button>
        </div>
       
        <app-grilla *ngIf="mostrar"
         [dificultad]="dificultad"
         [tamano]="tamano" ></app-grilla>
    </div>
</div>