.ladrillo {
    border: 3px solid;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: #808080;
    border-right-color: #808080;
    
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
    list-style: none;
    font-family: "VT323";
}
.numero{
    cursor: context-menu;
}
.red{
    background: red;
}
.fa-flag {
    color: red;
}
td{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
    list-style: none;
    font-family: "VT323";
    font-size: 1.5em;
    border: 1px solid #808080;
    width: 30px;
    height: 30px;
    
}
.modal-title{
    margin: auto;
    /* line-height: 1.5; */
    color: red;
    font-size: -webkit-xxx-large;
    /* align-items: center; */
}
.modal-footer{
    justify-content: space-between;
}
.modal{
    display: block;
}
tbody{
    display: block;
}
table{
    display: block;
}