<!-- <div id=tablero>
<div class="row" *ngFor="let fila of filas">
    <div class="col ladrillo" *ngFor="let columna of fila">
       
    </div>
</div>
</div> -->

<table id="tablero" class="egt" >
    <tr class="fila" *ngFor="let fila of tablero">
      <td (contextmenu)="marcar(columna)" (click)="clickTablero(columna)" [ngClass]="{ladrillo: !columna.visible, red: columna.bum}" *ngFor="let columna of fila">
          <div  *ngIf="columna.visible && columna.valor !== -1" class="numero" >{{columna.valor}}</div>
          <i *ngIf="columna.visible && columna.valor === -1" class="fa fa-bomb"></i>
          <i *ngIf="columna.marca > 0" class="fa" [ngClass]="{'fa-flag': columna.marca==1,'fa-question': columna.marca==2 }"></i>
     </td>
    </tr>
</table>
<app-timer></app-timer>
<div *ngIf="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Game Over</h5>
              <button (click)="modal = false" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
                    <p>Mejor suerte la proxima...</p>
              <button (click)="modal = false" type="button" class="btn btn-primary">Entendido</button>
            </div>
          </div>
        </div>
      </div>